<ion-header>
  <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
  <ion-title>NatWest Money Manager</ion-title>
</ion-header>

<ion-content padding>
  <h1><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Let's setup a goal</h1>
  <h6>How about one of these?</h6>
  <ion-slides pager=true initialSlide=1 spaceBetween="-50">
    <ion-slide>
      <div class="goal">
        <img src="assets/images/home.png">
        <span>Save for a house</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="goal">
        <img src="assets/images/heels.png">
        <span>Your dream shoes</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="goal">
        <img src="assets/images/holiday.png">
        <span>Feels about escaping?</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="goal">
        <img src="assets/images/christmas.png">
        <span>Some present?</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="goal">
        <img src="assets/images/television.png">
        <span>That screen you love</span>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="separator">or</div>
  <div class="action-button" (click)="goNext()">
    <button ion-button>Set up goal manually</button>
  </div>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
