<ion-header>
  <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
  <ion-title>NatWest Money Manager</ion-title>
</ion-header>

<ion-content padding>
  <h1><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Earn More</h1>
  <img src="assets/images/earn-linkedin.png" class="earn-linkedin" (click)="goNext()">

  <ion-slides pager=true initialSlide=1 spaceBetween="-50">
    <ion-slide>
      <div class="goal">
        <img src="assets/images/home.png">
        <span>Reach your goal in 48 months instead of 39 months</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="goal">
        <img src="assets/images/television.png">
        <span>Reach your goal in 48 months instead of 39 months</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="goal">
        <img src="assets/images/heels.png">
        <span>Reach your goal in 48 months instead of 39 months</span>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="action-button">
    <button ion-button block (click)="goNext()">Confirm</button>
  </div>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
