page-linkedin3 {
    .content {
        color: white;
        h1 {
            margin: 10px 10px 0 5px;
            ion-icon {
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
    ion-item{
      background: transparent!important;
      color: white!important;
    }

    .goal{
      width: 270px;
      height: 100px;
      border-radius: 5%;
      overflow: hidden;
      // border: 1px solid #02ABB8;
      padding: 10px;
      background-color: #553372;
      img{
        display: inline-block;
        margin: 10px;
        width: 50px;
        float: left;
      }
      span{
        color: white;
        font-size: 0.85em;
      }
    }
    .slides{
      height: 150px;
      .swiper-wrapper{
        padding: 0 10%;
      }
    }
    .avatar {
      width: 100%;
      // height: auto;
      border-radius: 5%;
      overflow: hidden;
      /* border: 1px solid #02ABB8; */
      padding: 20px;
      // background-color: #553372;
      img {
        border-radius: 5%;
        width: 40%;
        display: block;
        margin: 10px auto;
      }
      span {
        color: white;
        font-size: .85em;
        white-space: normal;
      }
    }

    .action-button {
        text-align: center;
    }

    .swiper-pagination {
        // margin-left: -10%;
    }
    .footer {
        height: 80px;
        img {
            height: 100px;
        }
    }
    .item.item-block{
      .checkbox-icon{
        background-color: #7C6093;
        border-color:#00B1BB;
        border-radius: 0;
      }
      div.item-inner{
        border: 0;
      }
    }
    .capsule{
      background: white;
      border-radius: 5%;
      position: relative;
      margin-top: 50px;
      padding-top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      .capsule-header{
        position: absolute;
        width: 60px;
        z-index: 2;
        top: -35px;
        left: 43%;
        background: white;
        padding: 1px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    .earn-linkedin{
      padding: 10px 30px;
    }
}
