page-budget2 {
  .progress-inner{
    background: #FEB11C;
  }
    .list-ios {
        .item-ios {
            background: transparent;
            // color: #fff;
            padding-top: 7px;
            &.tv {
                // background: #765c7c;
            }
            &.heels {
                // background: #93789a;
            }
            &.home {
                // background: #af92b7;
            }
            &.ring {
                // background: #41bc00;
            }
        }
        .item-block {
          margin-top:5px;
            border: 0 !important;
            .item-inner {
                // border: 0;
            }
        }
        ion-label{
          margin: 0;
        }
    }
    .footer {
        // background: #fff;
        button {
            background: #401166;
            border-radius: 50%;
            font-size: 35px;
            color: #fff;
            padding: 10px 17px 17px;
            margin-top: 20px;
            margin-left: 50px;
        }
    }
    .chart{
      position: relative;
      display: block;
      margin: 0 50px;
      ion-fab{
        top:50%;
        left: 50%;
        margin-left: -28px;
        margin-top: 6px;
      }
      .fab ion-icon{
        font-size: 4rem;
      }
    }
}
