<ion-header>
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content>
  <div style="margin-left:10px; color: white; margin-bottom:10px;">
    <h1>Budgeting</h1>
    <div>
      Nat West Current Account<br>
      March 2017 -  15 days to go
    </div>
  </div>
    <ion-list>
        <ion-item class="heels">
            <h4>Flex Cost</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:51%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>51%</p>
                            <p>spent</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">£190</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2>
                    <img src="assets/images/groceries-icon.png">
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <div class="chart">
      <ion-fab >
        <button ion-fab><ion-icon name="add"></ion-icon></button>
      </ion-fab>
                <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [options]="doughnutOptions"
                  [colors]="doughnutColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>
  </ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
