page-summary-screen {

    ion-footer {
        background-color: transparent;
    }

    .title {
        color: white;
        text-align: center;
    }

    .goal-description {
        color: white;
        opacity: 0.7;
    }

    .avatar {
        border: 1px solid white;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;

        img {
            height: 80px;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            border-radius: 30%;
        }
    }

    .grid {
        margin-bottom: 50px;
    }

    .home-icon {
        height: 40px;
        width: 40px;
        float: left;
    }

    .desc {
        height: 40px;
        width: 75px;
        padding: 0 10px;
        float: left;
    }

    .separator {
        width: 100%;
        color: white;
        position: relative;
        text-align: center;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        &::before,&::after{
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            content: ' ';
            width: 30%;
            display: inline-block;
            position: absolute;
            top: 9px;
        }
        &::before{
            left: 0;
        }
        &::after{
            right: 0;
        }

        &.goal-separator::before, &.goal-separator::after {
            width: 43%;
        }

        &.suggestions-separator::before,&.suggestions-separator::after {
            width: 25%;
        }
    }

    ion-slides{
        height: 15%;

        ion-slide{
            height: 100%;
            text-align: center;

            .slide-zoom {

                height: 100%;

                .slide-content {
                    color: white;
                    padding: 10px;
                    background-color: #553372;
                    border-radius: 10px;
                    width: 270px;
                    margin: 0 auto;
                    height: 100%;
                    padding: 10px;
                    font-size: 16px;
                    margin-bottom: 40px;
                }
            }
        }
    }

    .save {
        float:right;
    }
}
