<ion-content padding>

  <section>
     <ion-grid>
      <ion-row>
        <ion-col col-6>
          <h1 class="title"><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Summary</h1>
        </ion-col>
        <ion-col col-6>

          <div class="avatar">
            <img src="assets/images/avatar-piggy-1.gif">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <div class="separator goal-separator">Goal</div>

  <section class="goal-description">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <img class="home-icon" src="assets/images/home.png" />
          <div class="desc">Save for a house</div>
        </ion-col>
        <ion-col col-6>
          <div>Projected move in date: <br /> 15 June, 2018</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <div class="separator">Some initial insight</div>

  <section>
    <ion-slides pager=true initialSlide=1 spaceBetween="-50">
      <ion-slide>
        <div class="slide-content">Last month your average daily spend was over £65</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">Last month your average daily spend was over £65</div>
      </ion-slide>
      <ion-slide>
       <div class="slide-content">Last month your average daily spend was over £65</div>
      </ion-slide>
    </ion-slides>
  </section>

  <div class="separator suggestions-separator">Some initial suggestions</div>

  <section>
    <ion-slides pager=true initialSlide=1 spaceBetween="-50">
      <ion-slide>
        <div class="slide-content">Last month your average daily spend was over £65</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">Last month your average daily spend was over £65</div>
      </ion-slide>
      <ion-slide>
        <div class="slide-content">Last month your average daily spend was over £65</div>
      </ion-slide>
  </ion-slides>
  </section>

<section>
  <div class="save">
    <button ion-button (click)="goNext()">Let's save ></button>
  </div>
</section>

</ion-content>
