<ion-header>
    <ion-icon name="arrow-back" [navPush]="goals"></ion-icon>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content padding>
    <h3>The Dream Home</h3>
    <ion-row>
        <ion-col col-10>
            <div class="progress-outer">
                <div class="progress-inner" style="max-width:45%">
                </div>
            </div>
            <ion-row>
                <ion-col>
                    <p>45%</p>
                    <p>achieved</p>
                </ion-col>
                <ion-col>
                    <p>£55,000</p>
                    <p>saved</p>
                </ion-col>
                <ion-col>
                    <p align="right">4 years</p>
                    <p align="right">to go</p>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-2>
            <img src="assets/images/home.png">
        </ion-col>
    </ion-row>
    <div class="breakdown">
        <ion-row>
            <ion-col>
                <div class="bullet checked">
                    <p>First £1,000</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="bullet checked">
                    <p>First £10,000</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="bullet checked">
                    <p>£40,000</p>
                    <p>You can now</p>
                    <p>browse homes</p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="bullet">
                    <p>£40,000</p>
                    <p>You can now</p>
                    <p>browse homes</p>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <div class="pigby" (click)="showHideBlurb()">
    </div>
    <div class="blurb">
        <div class="blurb-wrapper">
            <p> Hey Rachel, you are a little behind your savings. check out some of these tips to get there faster.</p>
            <ion-row padding>
                <ion-col>
                    <img src="assets/images/earn-link.png" [navPush]="earn">
                </ion-col>
                <ion-col>
                    <img src="assets/images/save-link.png" [navPush]="save">
                </ion-col>
                <ion-col>
                    <img src="assets/images/learn-link.png" [navPush]="learn">
                </ion-col>
            </ion-row>
        </div>
        <div class="blurb-comma">
        </div>
    </div>
</ion-content>
