page-goal-breakdown {
    .scroll-content {
        background: #af92b7;
        p {
            margin: 0;
        }
        .breakdown {
            margin-top: 50px;
            .col {
                height: 120px;
                background: url('../assets/images/white-3x1.png') repeat-y top center;
                padding: 0;
            }
        }
        .bullet {
            background-image: url('../assets/images/grey-bullet.png');
            background-repeat: no-repeat;
            background-size: 27px;
            background-position: left center;
            padding: 0 0 10px 50px;
            color: #fff;
            font-size: 16px;
            margin-left: 46%;
            margin-top: -4px;
            &.checked {
                background-image: url('../assets/images/green-check.png');
            }
        }
    }
    .blurb {
        position: absolute;
        bottom: 100px;
        left: 50px;
        .blurb-wrapper {
            width: 220px;
            height: 180px;
            background: #fff;
            border-radius: 10px;
        }
        .blurb-comma {
            background: url('../assets/images/blurb-comma.png') no-repeat;
            background-size: contain;
            width: 17px;
            height: 11px;
            margin-left: 50px;
        }
        &.hidden {
            display: none;
        }
        p{
        	color: #000;
        	padding: 20px 20px 0 20px;
        }
        img{
        	cursor: pointer;
        }
    }
    .footer {
        background: #af92b7;
    }
}
