<ion-header>
  <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
  <ion-title>NatWest Money Manager</ion-title>
</ion-header>

<ion-content padding>
  <h1><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Earn More</h1>
  <ion-item>
    <div class="avatar">
      <img src="assets/images/linkedin2.png" (click)="goNext()">
      <span>By connecting your LinkedIn Profile you will enable the NatWest Money Manager to read your profile information and by that help you determine your fair salary. We will not share any of the information and will not post anything on your behalf.</span>
    </div>
  </ion-item>
  <ion-item>
    <ion-label>I agree to the terms and conditions</ion-label>
    <ion-checkbox [(ngModel)]="agree"></ion-checkbox>
  </ion-item>
  <div class="action-button">
    <button ion-button block (click)="goNext()">Sync</button>
  </div>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
