<ion-header>
    <div class="header">
        <div class="left">
            <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
        </div>
        <div class="center">
            <img src="assets/images/natwest-logo.png">
            <span>NatWest Money Manager</span>
        </div>
        <div class="right"></div>
    </div>
</ion-header>

<ion-content>
     
    <section class="title-section">
        <div class="center">
            <h1>Voucher Vault</h1>
        </div>
    </section>

    <section>
        <div class="center list-title">
            <img src="assets/images/tesco-clubcard.png" height="50" /> 
            <span class="text">Tesco Clubcard</span>
        </div>
    </section>

    <section>
        <ion-slides pager=true initialSlide=1 spaceBetween="-50">
            <ion-slide>
                <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
            <ion-slide>
                <div class="slide-content">Save £10 when you spend £40 or more</div>      
            </ion-slide>
            <ion-slide>
            <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
        </ion-slides>
    </section>

        <section>
        <div class="center list-title">
            <img src="assets/images/PRIMECARD.png" height="50" /> 
            <span class="text">Primark Primecard</span>
        </div>
    </section>

    <section>
        <ion-slides pager=true initialSlide=1 spaceBetween="-50">
            <ion-slide>
                <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
            <ion-slide>
                <div class="slide-content">Save £10 when you spend £40 or more</div>      
            </ion-slide>
            <ion-slide>
            <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
        </ion-slides>
    </section>

        <section>
        <div class="center list-title">
            <img src="assets/images/nectar-card.png" height="50" /> 
            <span class="text">Nectar</span>
        </div>
    </section>

    <section>
        <ion-slides pager=true initialSlide=1 spaceBetween="-50">
            <ion-slide>
                <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
            <ion-slide>
                <div class="slide-content">Save £10 when you spend £40 or more</div>      
            </ion-slide>
            <ion-slide>
            <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
        </ion-slides>
    </section>

      <section>
        <div class="center list-title">
            <img src="assets/images/tesco-clubcard.png" height="50" /> 
            <span class="text">Tesco Clubcard</span>
        </div>
    </section>

    <section>
        <ion-slides pager=true initialSlide=1 spaceBetween="-50">
            <ion-slide>
                <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
            <ion-slide>
                <div class="slide-content">Save £10 when you spend £40 or more</div>      
            </ion-slide>
            <ion-slide>
            <div class="slide-content">Last month your average daily spend was over £65</div>
            </ion-slide>
        </ion-slides>
    </section>

</ion-content>

<ion-footer>
    <div class="footer-content">
        <div class="pull-left full-height">
            <img class="piggy" src="assets/images/pig.png" />
       </div>

        <div class="pull-right full-height">
            <button class="footer-button pull-right" ion-button>Scan Receipt</button>
        </div>
    </div>
</ion-footer>