voucher-vault {
    
    .pull-right {
        float: right;
    }

    .pull-left {
        float:left;
    }

    ion-footer {
        height: 75px;
        border-top: 2px solid black;
        background-color: #401166;

        .footer-content {
            .full-height {
                height: 75px;
            }

            button {
                margin-top: 13px;
                margin-right: 15px;
            }

            img.piggy {
                margin-left: 25px;
                height: 75px;
                width: 85px;
            }
        }
    }

    .swiper-pagination-bullet-active{
        background-color: white;
    }
    
    .swiper-pagination-bullet{
       border: 1px solid white;
    }

    .title-section { 
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .center {
        text-align: center;
    }

    .list-title {

        color: white;
        height: 50px;
        line-height: 50px;
        margin-bottom: 10px;

        img {
            width: 50px;
        }

        .text { 
            display: inline-block;
            vertical-align: top;
            line-height: 50px;
            font-size: 20px;
        }
    }

     .header {

        color: white;
        width: 100%;
        height: 50px;
        position: relative;
        
        box-shadow: 0 1px 15px 0 #1A1110;

        .right, .left {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
        }

        .right {
            right: 0;
        }

        .center {
            color: white;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 50px;
            width: 280px;
            font-size: 20px;
            line-height: 50px;

            img {                
                margin-top: 15px;
            }
        }

        .left {
            left: 0;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
        }
    }

      ion-slides{
        height: 15%;

        ion-slide{
            height: 100%;
            text-align: center;

            .slide-zoom {

                height: 100%;

                .slide-content {
                    color: white;
                    padding: 10px;
                    background-color: #553372;
                    border-radius: 10px;
                    border: 3px solid#00B2BC;
                    width: 270px;
                    margin: 0 auto;
                    height: 100%;
                    padding: 10px;
                    font-size: 16px;
                    margin-bottom: 50px;
                }
            }       
        }
    }
}