<ion-header>
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item class="tv">
            <h4>The HD TV</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:87%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>87%</p>
                            <p>achieved</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">10 days</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2 align="center">
                    <img src="assets/images/television.png">
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="heels">
            <h4>That Pair of Heels</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:23%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>23%</p>
                            <p>achieved</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">4 months</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2>
                    <img src="assets/images/heels.png">
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="home" [navPush]="breakdown">
            <h4>The Chiswick Home</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:45%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>45%</p>
                            <p>achieved</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">4 years</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2>
                    <img src="assets/images/home.png">
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="ring">
            <h4>The Engagement Ring</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:100%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>100%</p>
                            <p>achieved</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">0 days</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2>
                    <img src="assets/images/holiday.png">
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
    <button [navPush]="newGoal">+</button>
</ion-footer>