page-goals {
    .list-ios {
        .item-ios {
            background: transparent;
            color: #fff;
            padding-top: 7px;
            &.tv {
                background: #765c7c;
            }
            &.heels {
                background: #93789a;
            }
            &.home {
                background: #af92b7;
            }
            &.ring {
                background: #41bc00;
            }
        }
        .item-block {
            border: 0 !important;
            .item-inner {
                border: 0;
            }
        }
    }
    .footer {
        background: #fff;
        button {
            background: #401166;
            border-radius: 50%;
            font-size: 35px;
            color: #fff;
            padding: 10px 17px 17px;
            margin-top: 20px;
            margin-left: 50px;
        }
    }
}
