page-dashboard {
  .content{
    color: white;
    h1{
      margin: 10px 10px 0 5px;
      ion-icon{
        margin-right: 10px;
        cursor: pointer;
      }
    }
    h6{
      margin: 40px;
      text-align: center;
      opacity: 0.7;
    }
  }
  .toolbar-background {
    background-color: transparent;
  }
  .toolbar-title{
    color: white;
  }
  .header{
    img{
      float: left;
    }
    .title{
      padding: 6px;
    }
  }
  .goal{
    width: 270px;
    height: 150px;
    border-radius: 5%;
    overflow: hidden;
    border: 1px solid #02ABB8;
    padding: 10px;
    background-color: #553372;
    img{
      display: block;
      margin: 10px auto;
      width: 90px;
    }
    span{
      color: white;
    }
  }
  .slides{
    height: 220px;
    .swiper-wrapper{
      padding: 0 10%;
    }
  }
  .separator{
    width: 100%;
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    &::before,&::after{
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      content: ' ';
      width: 43%;
      display: inline-block;
      position: absolute;
      top: 9px;
    }
    &::before{
      left: 0;
    }
    &::after{
      right: 0;
    }
  }
  .action-button{
    text-align: center;
  }
  .swiper-pagination{
    // margin-left: -10%;
  }
  .footer{
    height: 80px;
    img{
      height: 100px;
    }
  }
}
