<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
    <ion-title>NatWest Money Manager</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


</ion-content>
