linked-accounts{

    .small-text {
        font-size: 1em;
        color: #A183B4;
    }

    .toggle-section {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .title-section { 
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .center {
        text-align: center;
    }

    .pull-right {
        float: right;
    }

    .pull-left {
        float:left;
    }

    .brand-list-container {

        color: white;
        overflow: scroll;
        height: 355px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px; 

        ion-grid {
            ion-row {
                height: 120px;
                border-bottom: 1px solid #59307A;
                ion-col {
                    display: flex;
                    align-items: center;  
                    .brand-icon {
                        width: 100%;
                        border: 3px solid #04B0B9;
                        height: 80%;
                        width: 100%;
                        border: 2px solid #04B0B9;                        
                        width: 100%;
                        border: 3px solid #04B0B9;
                    }

                    .brand-name {
                        height: 120px;
                        display: flex;
                        align-items: center;  
                        padding-left: 10px; 
                        font-size: 1.3em;
                    }
                }
            }
        }
    }

    .accounts-container {
        color: white;
        width: 100%;

        margin-top: 10px;

        .account-list-title, .card-list-title {
            background-color: #59307A;
            line-height: 50px;
            text-align: center;
        }

        
        .list-container {
            overflow: scroll;
            height: 150px;
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 10px;

            &.card-list {
                height: 80px;
            }

            ion-grid {
                ion-row {
                    height: 75px;
                    border-bottom: 1px solid #794F97;

                    ion-col {
                        .account-info, .account-info-title, .card-title, .card-subtitle {
                            height: 50%;
                            display: flex;
                            align-items: center;        
                        }

                        .account-logo {
                            width: 95%;
                            margin-top: 10px;
                        }

                        .card-logo {
                            width: 95%;
                        }

                        .account-info, .card-title {
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
    }

    .header {
        color: white;
        width: 100%;
        height: 50px;
        position: relative;
        
        box-shadow: 0 1px 15px 0 #1A1110;

        .right, .left {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
        }

        .right {
            right: 0;
        }

        .center {
            color: white;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 50px;
            width: 280px;
            font-size: 20px;
            line-height: 50px;

            img {                
                margin-top: 15px;
            }
        }

        .left {
            left: 0;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
        }
    }

    ion-footer {
        height: 150px;
        border-top: 2px solid black;
        box-shadow: 0 0 10px 2px black;

        background-color: #401166;

        .footer-content {
            .full-height {
                height: 75px;
            }

            button {
                margin-top: 13px;
                margin-right: 10px;

                &:first-child {
                    margin-left: 10px;
                }
            }

            img.piggy {
                margin-left: 25px;
                height: 75px;
                width: 85px;
            }
        }
    }   
}