<ion-header>
    <div class="header">
        <div class="left">
            <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
        </div>
        <div class="center">
            <img src="assets/images/natwest-logo.png">
            <span>NatWest Money Manager</span>
        </div>
        <div class="right"></div>
    </div>
</ion-header>

<ion-content>

    <section class="title-section">
        <div class="center">
            <h1>Linked accounts</h1>
        </div>
    </section>

    <section class="toggle-section">
        <ion-segment [(ngModel)]="accountType">
            <ion-segment-button value="bank-accounts">
                Bank accounts and cards
            </ion-segment-button>
            <ion-segment-button value="loyalty-accounts">
                Loyalty accounts
            </ion-segment-button>
        </ion-segment>
    </section>

    <section *ngIf="accountType == 'bank-accounts'" >
        <div class="accounts-container">
            <div class="account-list-title">
                <span>Bank accounts</span>
            </div>
            <div class="list-container">
                <ion-grid>
                    <ion-row>
                        <ion-col col-1></ion-col>
                        <ion-col col-3>
                            <img class="account-logo" src="assets/images/NatWestLogoAndName.png" />
                        </ion-col>
                        <ion-col col-3>
                            <div class="account-info-title small-text">Acc #</div>
                            <div class="account-info-title small-text">Sort code</div>
                        </ion-col>
                        <ion-col col-3>
                            <div class="account-info">67709341</div>
                            <div class="account-info">50-99-31</div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1></ion-col>
                        <ion-col col-3>
                            <img class="account-logo" src="assets/images/RBSLogoAndName.png" />
                        </ion-col>
                        <ion-col col-3>
                            <div class="account-info-title small-text">Acc #</div>
                            <div class="account-info-title small-text">Sort code</div>
                        </ion-col>
                        <ion-col col-3>
                            <div class="account-info">67709341</div>
                            <div class="account-info">50-99-31</div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1></ion-col>
                        <ion-col col-3>
                            <img class="account-logo" src="assets/images/RBSLogoAndName.png" />
                        </ion-col>
                        <ion-col col-3>
                            <div class="account-info-title small-text">Acc #</div>
                            <div class="account-info-title small-text">Sort code</div>
                        </ion-col>
                        <ion-col col-3>
                            <div class="account-info">67709341</div>
                            <div class="account-info">50-99-31</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div class="card-list-title">
                <span>Cards</span>
            </div>
            <div class="list-container card-list">
                <ion-grid>
                    <ion-row>
                        <ion-col col-1>
                        </ion-col>
                        <ion-col col-3>
                            <img class="card-logo" src="assets/images/Visa-icon.png" />
                        </ion-col>
                        <ion-col col-6>
                            <div class="card-title">MasterCard</div>
                            <div class="card-subtitle small-text">Ending 5660</div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-1>
                            
                        </ion-col>
                        <ion-col col-3>
                            <img class="card-logo" src="assets/images/American-Express-icon.png" />
                        </ion-col>
                        <ion-col col-6>
                            <div class="card-title">American Express</div>
                            <div class="card-subtitle small-text">Ending 8756</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </section>

    <section *ngIf="accountType == 'loyalty-accounts'" >
        <div class="brand-list-container">
            <ion-grid>
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-4>
                        <img class="brand-icon" src="assets/images/tesco-clubcard.png" />
                    </ion-col>
                    <ion-col col-4>
                        <div class="brand-name">
                            <span>Tesco Clubcard</span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-4>
                        <img class="brand-icon" src="assets/images/nectar-card.png" />
                    </ion-col>
                    <ion-col col-4>
                        <div class="brand-name">
                            <span>Nectar</span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-4>
                        <img class="brand-icon" src="assets/images/PRIMECARD.png" />
                    </ion-col>
                    <ion-col col-4>
                        <div class="brand-name">
                            <span>Primark Primecard</span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-4>
                        <img class="brand-icon" src="assets/images/tesco-clubcard.png" />
                    </ion-col>
                    <ion-col col-4>
                        <div class="brand-name">
                            <span>Tesco Clubcard</span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </section>

</ion-content>

<ion-footer>
    <div class="footer-content">
        <div class="row">
            <div *ngIf="accountType == 'bank-accounts'"  class="full-height">
                <button class="footer-button" ion-button>Link account</button>
                <button class="footer-button" ion-button [navPush]="goalsAccounts">Link goals</button>                
                <button class="footer-button" ion-button>Add card</button>
            </div>
             <div *ngIf="accountType == 'loyalty-accounts'" class="full-height" >
                <button class="footer-button" ion-button>Link account</button>
                <button class="footer-button" ion-button [navPush]="voucherVault">View all vouchers</button>                
            </div>
        </div>
        <div class="row">
            <div class="pull-left full-height">
                <img class="piggy" src="assets/images/pig.png" />
            </div>
        </div>
    </div>
</ion-footer>