page-splash {
    .nat-west-logo {
        background: url('../assets/images/natwest-logo.png') top center no-repeat;
        height: 200px;
        margin-top: 40px;
        text-align: center;
        h2 {
            padding-top: 180px;
            color: #fff;
        }
    }
    ion-slides {
        margin-top: 60px;
        height: 120px;
        .swiper-wrapper {
            padding: 0 10%;
            height: 95px !important;
        }
        ion-slide {
            p {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 25px;
                color: #fff;
                width: 300px;
                font-size: 18px;
                text-shadow: 1px 1px #000;
                margin: 0;
                padding: 15px;
            }
        }
    }
    ion-footer {
        img {
            margin: 0 3%;
            width: 29%;
            height: 100px;
            float: left;
        }
        p {
            float: left;
            width: 32%;
            color: #fff;
            margin-top: 1.5em;
        }
        .button-ios {
            float: right;
            width: 22%;
            margin: 1em;
            ion-icon {
                margin-left: 0.5em;
            }
        }
    }
}
