<ion-content>
    <div class="nat-west-logo">
        <h2>NatWest Money Managers</h2>
    </div>
    <ion-slides pager=true initialSlide=1 spaceBetween="-60">
        <ion-slide>
            <p>Not spending more than &pound;4.5 for lunch today will help you stay within budget.</p>
        </ion-slide>
        <ion-slide>
            <p>Not spending &pound;2.5 for the third coffee today will help you stay within budget.</p>
        </ion-slide>
        <ion-slide>
            <p>Not spending more than &pound;10 for dinner today will help you stay within budget.</p>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer>
        <img src="assets/images/avatar-piggy-1.gif">
        
        <button ion-button [navPush]="signup" align="right">
            Next
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
</ion-footer>
