// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// .content-md{
//   color: white;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

.item-ios p,
p,
.item-ios label,
label, .select-ios {
    font-size: 14px;
    color: #fff;
}

.header {
    img {
        float: left;
        margin: 8px 6px;
        max-height: 18px;
    }
    .icon {
        float: left;
        margin: 8px 6px;
        color: #fff;
    }
    .toolbar-background {
        background-color: transparent;
    }
    .toolbar-title {
        color: white;
        padding: 6px 0;
        text-align: left;
    }
}

.content {
    background: url('../assets/images/splash-oinkboarding-background.png') no-repeat;
    background-size: cover;
}

.toolbar-background {
    background-color: transparent;
}

.toolbar-title {
    color: white;
}

ion-footer img {
    margin: 0 3%;
    width: 29%;
    height: 100px;
    float: left;
}

.app-root {
    ion-menu {
        div.menu-inner {
            background: transparent;
            ion-header {
                opacity: 0;
            }
            .content {
                background: transparent;
            }
            ion-avatar{
              img{
                border-radius: 0;
                opacity: 0.85;
              }
            }
        }
        .swiper-slide{
          width: 36%;
        }
        ion-slides{
          margin: 10px 1px 2px;
        }
        ion-item-divider{
          height: 5px;
          min-height: 5px;
        }
        .markup{
          width: 90px;
          height: 90px;
          border-radius: 10%;
          background: #c3c3c3;
          padding: 5px;
          display: block;
          overflow: hidden;
          white-space: normal;
          .head{
            font-size: .5em;
          }
          .body{
            color: #cc8804;
            height: 60px;
            display: block;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            bottom: 0;
            position: absolute;
            margin-left: -10px;
            span{
              line-height: 3em;
            }
          }
        }
    }
}

.pigby {
    background: url("../assets/images/avatar-piggy-1.gif") no-repeat;
    background-size: contain;
    width: 95px;
    height: 90px;
    position: fixed;
    bottom: 0;
}

button.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid white;
    opacity: 1;
}

button.swiper-pagination-bullet-active {
    background-color: white;
}

form {
    .label-ios[stacked] {
        font-size: 1.7rem;
    }
    .item-ios.item-block .item-inner {
        border: 0;
    }
    .input,
    .item-ios {
        background: transparent;
        color: #fff;
        border: 0;
        .text-input {
            border-bottom: 0.55px solid #c8c7cc;
            padding-bottom: 7px;
        }
        &.small {
            .text-input {
                width: 100px;
            }
        }
    }
    .item-ios {
        border: 0;
    }
    div.label.label-ios {
        margin-bottom: -10px;
        margin-top: 19px;
    }
}

.progress-outer {
    background: #fff;
    width: 100%;
    height: 12px;
    padding: 2px;
    margin: 10px 0;
    border-radius: 5px;
}

.progress-inner {
    background: #b7db73;
    height: 8px;
    border-radius: 5px;
}
