<ion-menu [content]="content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item-group inset no-lines style="margin-right:1px;">
      <ion-item menuClose>
        Up to the minute insights
        <ion-slides slidesPerView={{3}} spaceBetween={{-50}} loop={{true}}>
          <ion-slide>
            <div class="markup">
              <div class="head">Today's budget</div>
              <div class="body">
                <img src="assets/images/today-budget.png">
              </div>

            </div>
          </ion-slide>
          <ion-slide>
            <div class="markup">
              <div class="head">Highest spend in last 7 days</div>
              <div class="body"><span>Uber 87£</span></div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="markup">
              <div class="head">Highest spend in last month</div>
              <div class="body"><span>Uber 87£</span></div>
            </div>
          </ion-slide>
        </ion-slides>

      </ion-item>
    </ion-item-group>
    <ion-item-group inset no-lines>
      <ion-item menuClose  *ngFor="let p of pages" (click)="openPage(p)">
        <ion-avatar item-left>
          <img *ngIf="p.icon" src="{{p.icon}}">
        </ion-avatar>
        {{p.title}}
      </ion-item>
    </ion-item-group>
    <ion-item-divider></ion-item-divider>
    <ion-item-group inset no-lines>
      <ion-item menuClose *ngFor="let p of pages2" (click)="openPage(p)">
        <ion-avatar item-left>
          <img *ngIf="p.icon" src="{{p.icon}}">
        </ion-avatar>
        {{p.title}}
      </ion-item>
    </ion-item-group>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
