<ion-header>
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content>
  <div style="margin-left:10px; color: white; margin-bottom:10px;">
    <h1>Budgeting</h1>
    <div>
      Nat West Current Account<br>
      March 2017 -  15 days to go
    </div>
  </div>
    <ion-list>
        <ion-item class="tv">
            <h4>Fixed Cost</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:100%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>100%</p>
                            <p>spent</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">£0</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2 align="center">
                    <img src="assets/images/home-icon.png">
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="heels" [navPush]="budget2">
            <h4>Flex Cost</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:51%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>51%</p>
                            <p>spent</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">£190</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2>
                    <img src="assets/images/groceries-icon.png">
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item class="home" >
            <h4>Fun Budget</h4>
            <ion-row>
                <ion-col col-10>
                    <div class="progress-outer">
                        <div class="progress-inner" style="max-width:25%">
                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <p>25%</p>
                            <p>spent</p>
                        </ion-col>
                        <ion-col>
                            <p align="right">£83</p>
                            <p align="right">to go</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-2>
                    <img src="assets/images/fun-icon.png">
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item style="border-bottom:0;">
          <ion-row style="color:white;">
            <ion-col col-8>
              Saving
            </ion-col>
            <ion-col col-2>
              £520
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
