<ion-header>
  <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
  <ion-title>NatWest Money Manager</ion-title>
</ion-header>

<ion-content padding>
  <h1><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Earn More</h1>
  <h6>Participate in the Gig Economy</h6>
  <ion-slides pager=true spaceBetween="-25" (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <div class="avatar">
        <img src="assets/images/linkedin.png" (click)="goNext()">
        <span>Increase your salary: our salary tool links into your LinkedIn context and produces a report wich helps with making the case for a higher salary.</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avatar">
        <img src="assets/images/ebay.png" (click)="goNext()">
        <span>Selling a couple of items that you don't need anymore on ebay every month can make you an average of £125 a month.</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avatar">
        <img src="assets/images/uber.png" (click)="goNext()">
        <span>Working as an Uber driver on the weekends could make you £220 a week</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avatar">
        <img src="assets/images/amazon.png" (click)="goNext()">
        <span>If you work for Amazon Turk on the weekends, you could make an additional £50 pounds a month.</span>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="separator">or</div>
  <div class="action-button">
    <button ion-button (click)="goNext()">Let's do this</button>
  </div>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
