<ion-content>
    
    <div class="header">
        <div class="left">
            <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
        </div>
        <div class="center">
            <img src="assets/images/natwest-logo.png">
            <span>NatWest Money Manager</span>
        </div>
        <div class="right"></div>
    </div>

    <section>
        <ion-slides pager=true initialSlide=0 spaceBetween="-50">
            <ion-slide>

                <div style="margin-top: 40px" class="center">
                    <h1>Save More</h1>
                </div>

                <div class="center">
                    <p>Nominate a Budget Best Buddy</p>
                </div>

                <div class="slide-content">
                    <img />

                    <p>Choose one of your friends as a Budget Best Buddy. They will get a notification when you are overspending, to help you stat in control.</p>
                </div>
            </ion-slide>
            <ion-slide>

                 <div style="margin-top: 40px" class="center">
                    <h1>Save More</h1>
                </div>

                <div class="center">
                    <p>Use your sainsbury's voucher</p>
                </div>

                <div class="slide-content">
                    <img />

                    <p>You have £20 worth of Sainsbury's credit in the voucher vault. Why don't you make use of this during your next weekly shop ?</p>
                </div>
            </ion-slide>
            <ion-slide>

                 <div style="margin-top: 40px" class="center">
                    <h1>Save More</h1>
                </div>

                <div class="center">
                    <p>Budget Best Buddy</p>
                </div>

                <div class="slide-content">
                    <img />

                    <p>Need an occasional nudge? <br/> Nominate a friend to be your Budget Best Frien who get notified whenever you go over your budget.</p>
                </div>
            </ion-slide>
        </ion-slides>
    </section>

    <section>
        <div class="center">
            <button class="action" ion-button>Let's do this</button>
        </div>
    </section>

</ion-content>