<!--
  Generated template for the SocialChannel page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content padding align="center">
    <h4>Preferred communication channel</h4>
    <h5>Pigby may want to contact you with quick suggestions and ideas through the channel of your preference.</h5>
    <ion-list padding layout="row" radio-group>
        <ion-item>
            <ion-label>
                <img src="assets/images/fb-messenger.png">
                <p>Facebook Messenger</p>
            </ion-label>
            <ion-radio value="fb-messenger" checked>
            </ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>
                <img src="assets/images/whatsapp.png">
                <p>WhatsApp</p>
            </ion-label>
            <ion-radio value="whatsapp">
            </ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>
                <img src="assets/images/sms-text.png">
                <p>SMS Text</p>
            </ion-label>
            <ion-radio value="sms-text">
            </ion-radio>
        </ion-item>
    </ion-list>
    <div class="pigby">
    </div>
</ion-content>
