page-social-channel {
    h4 {
        margin: 20px 0 !important;
    }
    h5 {
        padding: 20px;
        font-weight: normal;
        font-size: 14px;
    }
    .item-ios {
        background: transparent;
        width: 48%;
        display: inline-block;
        &.item-block,
        .item-inner {
            border: 0 !important;
            padding: 0 !important;
        }
        &.item-radio .input-wrapper {
            margin: 10px 0;
            padding: 0 15px;
        }
        &.item-radio-checked .input-wrapper {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
        }
        .radio-icon {
            position: absolute;
            top: 0;
            right: 10px;
            width: 25px;
            height: 25px;
            .radio-inner {
                display: none;
            }
            &.radio-checked {
                background: url('../assets/images/orange-check.png') no-repeat;
                background-size: contain;
            }
        }
        p {
            white-space: normal;
            text-align: center;
        }
    }
}
