goals-accounts {

    .main {
        position: absolute;
        width: 100%;
        top: 140px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    .content {
        background: none;
        background-color: #401166;
    }

    .center {
        text-align: center;
    }

    .subtitle {
        color: #AC8FBC;
    }

    .title-section { 
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .header {
        color: white;
        width: 100%;
        height: 50px;
        position: relative;
        
        box-shadow: 0 1px 15px 0 #1A1110;

        .right, .left {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
        }

        .right {
            right: 0;
        }

        .center {
            color: white;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 50px;
            width: 280px;
            font-size: 20px;
            line-height: 50px;

            img {                
                margin-top: 15px;
            }
        }

        .left {
            left: 0;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
        }
    }
}