<ion-header>
    <div class="header">
        <div class="left">
            <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
        </div>
        <div class="center">
            <img src="assets/images/natwest-logo.png">
            <span>NatWest Money Manager</span>
        </div>
        <div class="right"></div>
    </div>
</ion-header>

<ion-content>
    
    <section class="title-section">
        <div class="center">
            <h1>Linked accounts</h1>
        </div>
    </section>

    <section class="title-section">
        <div class="center">
            <span class="subtitle">Drag a goal onto an account to link</span>
        </div>
    </section>

    <section class="main">
        <img src="assets/images/link-goals.png" />
    </section>

</ion-content>

<ion-footer>
    <div class="footer-content">
        <div class="pull-left full-height">
            <img class="piggy" src="assets/images/pig.png" />
       </div>
    </div>
</ion-footer>