<ion-header>
  <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
  <ion-title>NatWest Money Manager</ion-title>
</ion-header>

<ion-content padding>
  <h1><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Earn More</h1>
  <div class="capsule">
    <div class="capsule-header">
      <img src="{{this.picture_url}}">
    </div>
    <ion-list inset>
      <button ion-item *ngFor="let item of items">
        <div class="value">{{item.value}}</div>
        <div class="title">{{item.title}}</div>
      </button>
    </ion-list>
  </div>
  <div class="action-button">
    <button ion-button block (click)="goNext()">Confirm</button>
  </div>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
