page-new-goal {
    .item-ios .radio-ios {
        max-height: 0;
        max-width: 0;
        margin: 0;
        padding: 0;
    }
    .item-radio {
    	border: 0 !important;
        max-width: 53px;
        max-height: 54px;
        display: inline-block;
        padding: 0;
        &.item-radio-checked {
            background: #00B2BC;
        }
        .item-inner {
            padding: 5px !important;
            margin: 0;
        }
        .label-ios {
            padding: 0;
            margin: 0;
        }
    }
}
