<ion-header>
    <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content>
    <h1 padding>Set a New Goal</h1>
    <form (ngSubmit)="saveGoal()">
        <ion-item>
            <ion-label stacked>What do you want to save for?</ion-label>
            <ion-input type="text" name="saveFor" placeholder="A new TV, a holiday etc"></ion-input>
        </ion-item>
         <ion-item>
            <ion-label stacked>How much is it going to cost?</ion-label>
            <ion-input type="number" name="cost" placeholder="£100" class="small"></ion-input>
        </ion-item>
        <div class="item item-ios label label-ios">By when do you want to achieve it</div>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="number" name="day" placeholder="DD" min="1" max="31"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="number" name="month" placeholder="MM" min="1" max="12"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="number" name="year" placeholder="YYYY"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-label stacked>or how much do you want to save a month</ion-label>
            <ion-input type="number" name="savePerMonth" placeholder="£10" class="small"></ion-input>
        </ion-item>
        <div class="item item-ios label label-ios">Select an icon</div>
        <ion-list padding layout="row" radio-group>
            <ion-item>
                <ion-label>
                    <img src="assets/images/television.png">
                </ion-label>
                <ion-radio value="television"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label><img src="assets/images/heels.png"></ion-label>
                <ion-radio value="heels">
                </ion-radio>
            </ion-item>
            <ion-item>
                <ion-label><img src="assets/images/television.png"></ion-label>
                <ion-radio value="ring">
                </ion-radio>
            </ion-item>
            <ion-item>
                <ion-label><img src="assets/images/home.png"></ion-label>
                <ion-radio value="home">
                </ion-radio>
            </ion-item>
            <ion-item>
                <ion-label><img src="assets/images/holiday.png"></ion-label>
                <ion-radio value="holiday">
                </ion-radio>
            </ion-item>
            <ion-item>
                <ion-label><img src="assets/images/christmas.png"></ion-label>
                <ion-radio value="christmas">
                </ion-radio>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
    <button ion-button [navPush]="goals">Next</button>
</ion-footer>
