tone-selector {

    .swiper-pagination-bullet-active{
        background-color: white;
    }

    .nat-west-logo {
        background: url('../assets/images/natwest-logo.png') top center no-repeat;
        height: 200px;
        margin-top: 40px;
        text-align: center;
        h2 {
            padding-top: 180px;
            color: #fff;
        }
    }

    .center-section {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .next {
        float: right;
    }

    .subtitle {
        opacity: 0.7;
        color: white;
    }

    .wrap {
        width: 100%;
        height:70%;
        position: relative;

        .indicator {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;

            &.active {
                background-color: red;
            }

            &.inactive {
                border: 1px solid white;
            }

            &.top {
                top: 31%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }

            &.left, &.right{
                margin-top: auto;
                margin-bottom: auto;
                top: 0;
                bottom: 0;
            } 

            &.left {
                left: 90px;
            }

            &.right {
                right: 90px;
            }
        }

        .container {
            position: absolute;

            &.circle-container {
                width: 125px;
                height: 125px;

                border-radius: 50%;
                box-shadow: 0 0 20px 5px black;
                
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                
                &.rotation { 
                    transition-duration: 2s;
                    transition-property: transform;
                }

                &.low {
                    transform: rotate(-90deg);
                }
                
                &.medium {
                    transform: rotate(0deg);
                }

                &.hard {
                    transform: rotate(90deg);
                }
            }

            &.option-container {
                width: 120px;
                height: 120px;

                &.left, &.right {
                    top: 36%;
                }

                &.left {
                    left: -5px;
                }

                &.right {
                    right: -5px;
                }

                &.top {
                    top: 6%;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }

                button {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    color:white;

                    img {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
    }
}