<ion-header>
  <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
  <ion-title>NatWest Money Manager</ion-title>
</ion-header>

<ion-content padding>

    <h1 class="title"><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Summary</h1>

    <section class="center-section">
        <label class="subtitle">Is it a coach or a dictator you need ? </label>
    </section>

    <div class="wrap">

        <div class="indicator left {{leftStatus}}"></div>
        <div class="indicator right {{rightStatus}}"></div>
        <div class="indicator top {{topStatus}}"></div>

        <div class="container option-container left">
            <button (click)='setLowTone()'>
                <img src="assets/images/judgeometer-1-bw.png">
                <div><span>The Angel</span></div>
            </button>
        </div>
        <div class="container option-container right">
             <button (click)='setHardTone()'>
                <img src="assets/images/judgeometer-3-bw.png">
                <div><span>The Dictator</span></div>
            </button>
        </div>
        <div class="container option-container top">
             <button (click)='setMediumTone()'>
                <img src="assets/images/judgeometer-2-bw.png">
                <div><span>The Coach</span></div>            
            </button>
        </div>

        <div class="container circle-container {{rotation}}">
            <img src="assets/images/knob.png">
        </div>
    </div>

    <section>
        <div class="next">
                <button ion-button [navPush]="summaryScreen">Next</button>
        </div>
    </section>

</ion-content>
