<ion-content>
    
    <div class="header">
        <div class="left">
            <ion-icon name="arrow-back" [navPush]="dashboard"></ion-icon>
        </div>
        <div class="center">
            <img src="assets/images/natwest-logo.png">
            <span>NatWest Money Manager</span>
        </div>
        <div class="right"></div>
    </div>

    <section>
        <ion-slides pager=true initialSlide=1 spaceBetween="-50">
            <ion-slide>

                <div style="margin-top: 40px" class="center">
                    <h1>Learn More</h1>
                </div>

                <div class="center">
                    <p>Nominate a Budget Best Buddy</p>
                </div>

                <div class="slide-content">
                    <img />

                    <p>lorem ipsum lorem lorem ipsum prelum umo loro orem opsum</p>
                </div>
            </ion-slide>
            <ion-slide>

                 <div style="margin-top: 40px" class="center">
                    <h1>Learn More</h1>
                </div>

                <div class="center">
                    <p>Learn how to buy more savy</p>
                </div>

                <div class="slide-content">
                    <img />

                    <p>This video will give you a good overview on how to save money on groceries in different supermarkets in London</p>
                </div>
            </ion-slide>
            <ion-slide>

                 <div style="margin-top: 40px" class="center">
                    <h1>Learn More</h1>
                </div>

                <div class="center">
                    <p>Budget Best Buddy</p>
                </div>

                <div class="slide-content">
                    <img />

                    <p>lorem ipsum lorem lorem ipsum prelum umo loro orem opsum</p>
                </div>
            </ion-slide>
        </ion-slides>
    </section>

    <section>
        <div class="center">
            <button class="action" ion-button>Let's have a look</button>
        </div>
    </section>

</ion-content>