learn-more {

    .action {
        margin-top: 15px;
        width: 200px;
    }

    .swiper-pagination-bullet-active { 
        background-color: white;
    }

    .slide-content {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        height: 320px;
        width: 300px;
        margin: auto;
        margin-bottom: 50px;

        img {
            margin-top: 25px;
            height: 150px;
            width: 150px;
            border: 1px solid white;
            border-radius: 50%;
            margin-bottom: 15px;
        }

        p {
            margin-left: 40px;
            margin-right: 40px;
            text-align: left;
        }
    }

    .center {
        text-align: center;
    }

    .header {

        color: white;
        width: 100%;
        height: 50px;
        position: relative;
        
        box-shadow: 0 1px 15px 0 #1A1110;

        .right, .left {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
        }

        .right {
            right: 0;
        }

        .center {
            color: white;
            margin: 0 auto;
            left: 0;
            right: 0;
            height: 50px;
            width: 280px;
            font-size: 20px;
            line-height: 50px;

            img {                
                margin-top: 15px;
            }
        }

        .left {
            left: 0;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
        }
    }
    
}