page-page3 {
    .content {
        color: white;
        h1 {
            margin: 10px 10px 0 5px;
            ion-icon {
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
    .avatar {
        width: 274px;
        height: 274px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #02ABB8;
        padding: 40px;
        background-color: #553372;
        img {
            border-radius: 0 0 50% 50%;
        }
        span {
            color: white;
        }
    }
    .slides {
        // padding-left: 10%;
        height: 375px;
        .swiper-wrapper {
            padding: 0 10%;
        }
    }
    .separator {
        width: 100%;
        color: white;
        position: relative;
        text-align: center;
        margin-bottom: 10px;
        &::before,
        &::after {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            content: ' ';
            width: 43%;
            display: inline-block;
            position: absolute;
            top: 9px;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
    .action-button {
        text-align: center;
    }
    .swiper-pagination {
        // margin-left: -10%;
    }
    .footer {
        height: 80px;
        img {
            height: 100px;
        }
    }
}
