<ion-header>
  <img src="assets/images/natwest-logo.png" height="28px" style="margin:0 10px;">
  <ion-title>NatWest Money Manager</ion-title>
</ion-header>

<ion-content padding>
  <h1><ion-icon name="arrow-back" (click)="goBack()"></ion-icon> Choose TBD</h1>
  <ion-slides pager=true spaceBetween="-50">
    <ion-slide>
      <div class="avatar">
        <img src="assets/images/avatar-piggy-1.gif" (click)="goNext()">
        <span>Pigby</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avatar">
        <img src="assets/images/financialadvisor.png" (click)="goNext()">
        <span>Financial Advisor</span>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="avatar">
        <img src="assets/images/financialadvisor2.png" (click)="goNext()">
        <span>Financial Advisor</span>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="separator">or</div>
  <div class="action-button">
    <button ion-button (click)="goNext()">I don't want an avatar</button>
  </div>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
