<ion-header>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content padding [navPush]="page3">
    <h1>Sign up</h1>
    <ion-row>
        <ion-col>
            <p>Welcome to NatWest Money Manager</p>
            <p>Money Manager is free for customers committed to saving. After an initial 30-day trial you will be able to select a subscription plan.</p>
            <p>No payment will be taken automatically.</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h6 class="separator link-app">Link mobile banking app</h6>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <img class="bank-logo" src="assets/images/rbs_logo.png">
            <p><strong>RBS mobile banking</strong></p>
        </ion-col>
        <ion-col>
            <img class="bank-logo" src="assets/images/natwest-logo.png">
            <p><strong>NatWest mobile banking</strong></p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h6 class="separator or">Or</h6>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button>Manual signup</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p>By signing up, you agree to our terms of use, privacy policy and cookie policy. Tap for details.</p>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
    <img src="assets/images/avatar-piggy-1.gif">
</ion-footer>
