page-signup {
    color: white !important;
    .content {
        text-align: center;
        .separator {
            width: 100%;
            position: relative;
            &::before,
            &::after {
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                content: ' ';
                display: inline-block;
                position: absolute;
                top: 10px;
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
            &.link-app {
                &::before,
                &::after {
                    width: 16%;
                }
            }
            &.or {
                &::before,
                &::after {
                    width: 37%;
                }
            }
        }
        .bank-logo {
            height: 40px;
        }
    }
    
}
