page-key-spending1 {
    .select {
        max-width: 33%;
        padding-left: 0;
        font-size: 16px;
    }
    .toolbar-background-ios {
        background: transparent;
    }
    .toolbar-ios {
    	margin-bottom: 10px;
    }
    .list {
        .item {
            background-color: transparent;
            border: none;
            &.yellow {
                background-color: #feb11c;
            }
            &.red {
                background-color: #f14b67;
            }
            &.light{
            	background-color: #59307a;
            }
        }
    }
    .list-ios .item-block .item-inner,
    .list-ios > .item-block:first-child,
    .list-ios > .item-block:last-child,
    .list-ios > .item-wrapper:last-child .item-block {
        border: 0;
    }
    .item-ios{
    	padding-left:20px;
    	padding-top: 5px;
    	.item-inner{
    		padding: 0;
    	}
    }
    .item-ios p {
        color: #fff;
    }
    .segment-ios .segment-button {
        border-color: #fff;
        color: #fff;
        max-width: 160px;
        &.segment-activated {
            background: #fff;
            color: #000;
        }
    }
}
