<!--
  Generated template for the KeySpending1 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-icon name="arrow-back" [navPush]="dashboard"></ion-icon>
    <img src="assets/images/natwest-logo.png">
    <ion-title>NatWest Money Manager</ion-title>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col>
            <h1>Key spending</h1>
            <ion-select interface="action-sheet" mode="ios" [(ngModel)]="period">
                <ion-option value="today" selected="true">Today</ion-option>
                <ion-option value="lastWeek">Last week</ion-option>
                <ion-option value="lastMonth">Last month</ion-option>
            </ion-select>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="period == 'today'">
        <ion-col align="center">
            <img src="assets/images/key-spending-graph.png">
            <p>You have spent 75% of your daily budget.</p>
        </ion-col>
    </ion-row>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="spendings">
            <ion-segment-button value="vendors">
                Vendors
            </ion-segment-button>
            <ion-segment-button value="categories">
                Categories
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="spendings">
        <ion-list *ngSwitchCase="'vendors'">
            <ion-item class="yellow">
                <h2>1. Sainsbury's</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;15</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>38%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
            <ion-item class="red">
                <h2>2. Amazon</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;9.99</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>26%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
            <ion-item>
                <h2>3. Costa</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;10</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>8%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
            <ion-item class="red">
                <h2>4. Eat</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;35</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>45%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'categories'">
            <ion-item class="light">
                <h2>1. Groceries</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;189</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>24%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
            <ion-item>
                <h2>2. Books</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;80</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>13%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
            <ion-item class="light">
                <h2>3. Coffee</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;75</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>12%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
            
            <ion-item>
                <h2>4. Clothing</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;57</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>9%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
            <ion-item class="light">
                <h2>5. Lunch</h2>
                <ion-row>
                    <ion-col>
                        <p>&pound;9.99</p>
                        <p>spent this month</p>
                    </ion-col>
                    <ion-col>
                        <p>26%</p>
                        <p>of monthly budget</p>
                    </ion-col>
                </ion-row>
                <ion-thumbnail item-right>
                    <img src="assets/img/thumbnail-puppy-1.jpg">
                </ion-thumbnail>
            </ion-item>
        </ion-list>
    </div>
    <div class="pigby">
    </div>
</ion-content>
